* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: rgba(248, 189, 80, 0.897);
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.step-box:last-child {
  margin-right: 0;
}

.step-img1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.step-img2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.step-img3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.step-num {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(248, 189, 80, 0.897);
  color: #fff;
}

.title {
  margin: 15px 0 5px;
}

footer {
  height: 50px;
  background-color: #aaa;
}
